body{
    margin:0;
    padding: 0;
    font-size: 1rem;


}
.free-delivery{
    background-color: black;
    text-align: center;
    color: white;
}
.level-1-buttons{
    display: flex;
    gap:1rem;
    justify-content: end;
    padding-right: 1.2rem;
}
.level-1-buttons *{
    color: black;
    border: 3px solid black;
    border-radius:5px;
    padding:3px;
    text-decoration: none;
}
.level-2-buttons{
    display:grid;
    grid-template-columns:1fr 5fr 2fr;
    grid-template-rows: auto;
    width: 100%;
    height:auto;
    justify-content:center;
    align-items: center;
}
.logo-1{
    width:6rem;
    height: auto;
    padding-left:1.2rem ;
}
.catagory{
    display: flex;
    
    text-decoration:none;
    align-items: center;
    justify-content: space-evenly;
}
.catagory *{
    color: black;
    text-decoration: none;
    font-size:min(1.2rem,4vw,4rem);
}
.icons{
    display:flex;
    justify-content: space-evenly;
}
.img-1{
    width: 100%;
    height: auto;
}
.main-layout{
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
.home-buttons{
    display: flex;
    padding-left:2rem;
    justify-content: flex-start;

}
.home-buttons *{
    font-size:1.3rem;
    padding-left:20px;
    color: black;
    text-decoration: none;
}
.sale-text{
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2.5rm;
}
.sale-text h1 {
    font-weight: bold;
}
.sale-content-6{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    justify-content:center;
    flex: 1;
    flex-wrap:wrap;
    flex-shrink:2;

}
.sale-content{
    width:200px;
    height: auto;
    background-color: white;
    position: relative;
}
.sale-content img{
    width:100%;
    height: auto;
}
.sale-content h4{
    font-size:0.8rm;
    padding: 15px;
}
.sale-content-behind-img{
    width:90%;
    height: auto;
    align-self:center;
    position:relative;
    z-index: -1;
    top:-60px;
}
.main-collection{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;

}
.collection{
    width: 250px;;
    height: auto;
    background-color: white;
    position: relative;
}
.collection-img{
    width:100%;
    height: auto;
}
.information{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    font-size: 0.8rem;
    width: 100%;
}
.information p{
    font-size: 1rem;
    color: rgb(12,21,22,0.6);
}
.information span{
    font-size: 1rem;
}
.price {
    color: red;
    font-size:1rem;                                             
}
.information.price p span{
    color: rgb(12,21,22,0.6);
}

.price-2 > span{
    color: black;
}
.join-ad{
    display: flex;
    background-color:#03A6A1;
    height: auto;
    width: 100%;
    justify-content:space-evenly;
}
#sign-up{
    display: flex;
    width: 15%;
    height: 3.5em;
    align-self:center;
    justify-content: space-around;
    font-size:clamp(0.6rem,2vw,1rem);
    text-align: center;
}
#sign-up > h5 {
    padding-top:10%;
    margin: 0;
}
.material-symbols-outlined{
    align-self: center;
}
.polycies{
    display: flex;
    width: 100%;
    height:100%;
    justify-content:center;
    align-items: center;
    background-color: black;

}
.polycies a{
    margin: 10px;
    color: white;
    text-decoration: none;

}
.foot-er{
    width: 100%;
    text-align: center;
    color: white;   
    background: black;
}
.foot-er h2{
    margin: 0px;
    padding:60px;
}
.img-hover{
    height: auto;
    width: 100%;
    position:absolute;
    top:0;
    left: 0;
    opacity: 0;
}
.img-hover:hover{
    transition: 1s;
    opacity: 1;
}
.sale-content:hover{
    transition:2s;
    top:-20px;
}
@media (max-width:200px) {
    .catagory {
        display: none;
    }
    .level-1-buttons{
        font-size:0.7rem;
    }
    .main-img{
        width: 100%;
        height: auto;
    }
    .home-buttons{
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .home-buttons a{
        font-size:1rem;
        text-align: center;
        padding-left:10px;
        padding-right:10px;
    }
    .sale-text{
        font-size:0.7rem;
    }
    .collection{
        width:min(100px,auto);
        height: auto;
    }
    .main-collection{
        display:grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
    }

}
